:root {
  --sb-purple: rgb(241, 149, 241);
  --sb-blue: rgb(98, 98, 255);
  --sb-yellow: rgb(237, 237, 112);
  --sb-red: rgb(255, 93, 93);
  --sb-green: rgb(62, 236, 62);
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(11, 11, 31);
}