:root {
  --sb-purple: hsl(283, 100%, 75%);
  --sb-blue: hsl(240, 100%, 69%);
  --sb-yellow: hsl(60, 78%, 68%);
  --sb-red: hsl(0, 100%, 68%);
  --sb-green: hsl(120, 82%, 58%);
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(11, 11, 31);
}