.square {
  border-radius: 0;
  border: 6px solid;
  height: 50px;
  width: 50px;
  margin: 5px 5px;
  padding: 0;
  animation-name: fade-in;
  animation-duration: 1s;
}

.purple {
  background: var(--sb-purple);
  border-color: var(--sb-purple);
}

.blue {
  background: var(--sb-blue);
  border-color: var(--sb-blue);
}

.yellow {
  background: var(--sb-yellow);
  border-color: var(--sb-yellow);
}

.red {
  background: var(--sb-red);
  border-color: var(--sb-red);
}

.green {
  background: var(--sb-green);
  border-color: var(--sb-green);
}

.gray {
  background: rgb(37, 37, 37);
  border-color: rgb(37, 37, 37);
}

.selected {
  filter: brightness(50%);
}

.goal {
  border-color: #494949;
}

.goal.purple {
  border-color: hsl(283, 50%, 55%);
  border-style: inset;
}

.goal.blue {
  border-color: hsl(240, 50%, 50%);
  border-style: inset;
}

.goal.yellow {
  border-color: hsl(60, 50%, 50%);
  border-style: inset;
}

.goal.red {
  border-color: hsl(0,  50%, 50%);
  border-style: inset;
}

.goal.green {
  border-color: hsl(120, 82%, 40%);
  border-style: inset;
}

@media (max-width: 1000px) {
  .square {
    border-width: 5px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 415px) {
  .square {
    height: 8vw;
    width: 8vw;
    margin: 2px 2px;
  }
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}