.square {
  border-radius: 0;
  border: 5px solid;
  height: 50px;
  width: 50px;
  margin: 5px 5px;
  padding: 0;
  animation-name: fade-in;
  animation-duration: 1s;
}

.purple {
  background: var(--sb-purple);
  border-color: var(--sb-purple);
}

.blue {
  background: var(--sb-blue);
  border-color: var(--sb-blue);
}

.yellow {
  background: var(--sb-yellow);
  border-color: var(--sb-yellow);
}

.red {
  background: var(--sb-red);
  border-color: var(--sb-red);
}

.green {
  background: var(--sb-green);
  border-color: var(--sb-green);
}

.gray {
  background: rgb(68, 68, 68);
  border-color: rgb(68, 68, 68);
}

.selected {
  filter: brightness(50%);
}

.goal {
  border-color: #999999;
}

@media (max-width: 1000px) {
  .square {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 415px) {
  .square {
    height: 8vw;
    width: 8vw;
    margin: 2px 2px;
  }
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}