.score {
  font-size: 69px;
  font-weight: bold;
}

.status {
  font-size: 32px;
  font-weight: bold;
}

.highScore {
  font-size: 16px;
}

.highScore span {
  display: inline-block;
  border-radius: 10px;
  border: solid 5px rgba(200,200,0,0);
  padding: 5px;
}

.glow {
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: 5;
}

@keyframes glow {
  0% {border-color: rgba(200,200,0,0);}
  50% {border-color: rgba(200,200,0,1);}
  100% {border-color: rgba(200,200,0,0);}
}

@media (max-width: 1000px) {
  .score {
    margin: 0;
    width: 250px;
    text-align: center;
  }

  .status {
    text-align: center;
  }

  .highScore {
    text-align: center;
  }
}